<div class="head">
    <mat-toolbar>
        <div>
            <ul class="menu-list">
                <li>
                    <a [routerLink]="['/dashboard']" routerLinkActive="active-link"><mat-icon
                            matTooltip="Dashboard">dashboard</mat-icon></a>
                </li>
                <li>
                    <a [routerLink]="['/events']" routerLinkActive="active-link"><mat-icon
                            matTooltip="Events">assignment</mat-icon></a>
                </li>
            </ul>
        </div>
        <div class="header">
         Hi.. welcome you to explore events
        </div>
    </mat-toolbar>
</div>